:root {
  --darkblue: #2c666e;
  --lightblue: #90ddf0;
  --lightgrey: #f0edee;
}

body {
  color: var(--darkblue);
  background-color: var(--lightgrey);
}

header {
  padding: 20px 35px;
  background-color: var(--lightblue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  }
